@import "../../../styles/responsive";

.indexTable-wrapper {
  width: 30%;
  height: 400px;
  padding-left: 1.2rem;
  overflow: auto;

  @include responsive(phone-landscape) {
    width: 100%;
    padding: 0;
    margin-top: 2rem;
  }
  @include responsive(phone-portrait) {
    width: 100%;
    padding: 0;
    margin-top: 2rem;
  }

  .table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    @include responsive(phone-landscape) {
      thead tr {
        position: sticky;
        top: -1px;
        z-index: 1;
      }
    }
    @include responsive(phone-portrait) {
      thead tr {
        position: sticky;
        top: -1px;
        z-index: 1;
      }
    }

    td,
    th {
      padding: 0.8rem 0.4rem;
      border: 1px solid #ccc;
    }

    th {
      background-color: #f1f1f1;
    }
  }
}

.loading {
  text-align: center;
}
