body {
  margin: 0;
  font-family: "vazir", "Helvetica", "Arial", sans-serif;
  font-size: 1.4rem;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


